{:git-pull-secs 60,
 :default-templates {:journals ""},
 :macros {},
 :feature/enable-timetracking? true,
 :commands [],
 :project {:name "", :alias "", :twitter "", :description ""},
 :hidden [],
 :default-queries
 {:journals
  [{:title "🔨 NOW",
    :query
    [:find
     (pull ?h [*])
     :in
     $
     ?start
     ?today
     :where
     [?h :block/marker ?marker]
     [?h :block/page ?p]
     [?p :page/journal? true]
     [?p :page/journal-day ?d]
     [(>= ?d ?start)]
     [(<= ?d ?today)]
     [(contains? #{"NOW" "DOING"} ?marker)]],
    :inputs [:14d :today],
    :result-transform
    (fn
     [result]
     (sort-by (fn [h] (get h :block/priority "Z")) result)),
    :collapsed? true}
   {:title "📅 NEXT",
    :query
    [:find
     (pull ?h [*])
     :in
     $
     ?start
     ?next
     :where
     [?h :block/marker ?marker]
     [?h :block/ref-pages ?p]
     [?p :page/journal? true]
     [?p :page/journal-day ?d]
     [(> ?d ?start)]
     [(< ?d ?next)]
     [(contains? #{"NOW" "LATER" "TODO"} ?marker)]],
    :inputs [:today :7d-after],
    :collapsed? true}]}, 
 :git-push-secs 10, 
 :git-auto-push false}
